@page "/usechart"
@using Training2.Components
<h3>UseChart</h3> 
<div style="width:300px">
    @*<Chart Daten="@(new double[] { 23, 45, 12, 99, 23 })" @ref="MyChart"></Chart>*@
    <Chart  @ref="MyChart"></Chart>
</div>
<button @onclick="neudaten">neudaten</button>
<hr />
@Chartsegment

@code {
    public string Chartsegment { get; set; }
    Chart MyChart;

    public void neudaten()
    {

        MyChart.UpdateDaten(new double[] { 50, 23, 45, 50, 40, 23 });
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            MyChart.UpdateDaten(new double[] { 23, 45, 12, 99, 23 });
            MyChart.OnPieSelected += MyChartSelected;
        }
    }
    public void MyChartSelected(string selected)
    {
        Chartsegment = selected;
        StateHasChanged();

    }
}
